* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #feecef;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 6rem 3rem 3rem;
}

a,
span {
  color: black;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
}

.link {
  font-size: 1.6rem;
}
