* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F2B1CD'/%3E%3Cstop offset='1' stop-color='%23F2B1CD'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='3.5' cy='3.5' r='3.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 6rem 3rem 3rem;
}

a,
span {
  color: black;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
}

.link {
  font-size: 1.6rem;
}
