---
	import '../styles/global.css';
	import MainLayout from '../components/mainLayout.astro'
	import Navigation from '../components/navigation.astro';
	import VideoHero from '../components/videoHero.astro';
	import Background from '../components/background.astro';
---


	<MainLayout title="Home">

		<Navigation />

		<h4>Welcome</h4>

		<VideoHero />

		<Background />

	</MainLayout>



<style></style>

<script></script>