---
  import '../styles/global.css';
  import MainLayout from '../components/mainLayout.astro';
  import Navigation from '../components/navigation.astro';
  import Gallery from '../components/galleryAnimals.astro';
---

<MainLayout title="Animal Photos">

  <Navigation />

	<h4>Animal Photos</h4>

  <Gallery />

</MainLayout>


<style></style>

<script></script>