---
  import '../styles/global.css';
  import MainLayout from '../components/mainLayout.astro';
  import Navigation from '../components/navigation.astro';
  import Gallery from '../components/galleryWedding.astro';
---

<MainLayout title="Wedding Photos">

  <Navigation />

	<h4>Wedding Photos</h4>

  <Gallery />

</MainLayout>


<style></style>

<script></script>