---
	import '../styles/global.css';
	import MainLayout from '../components/mainLayout.astro'
	import Navigation from '../components/navigation.astro';
  import GoogleForm from "../components/rsvpWebForm.astro";
---


	<MainLayout title="RSVP">

		<Navigation />

		<h1>RSVP</h1>
		
    <GoogleForm />

	</MainLayout>



<style></style>

<script></script>