---
  import { getCollection } from "astro:content";
  import { CldImage } from 'astro-cloudinary';

  const assets = await getCollection('assets')
  console.log(assets)
---

<div class="image-gallery">
  {assets.map(asset =>  {
    const link = asset.data.secure_url;

    return (
      <a 
      href={link}
      target="blank"
      >
        <CldImage 
        src={asset.data.public_id} 
        crop="auto"
        alt="wedding photo"
        class="responsive-image"
        />
      </a>
    )
  })}
</div>

<style>
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    justify-content: center;
    gap: .5rem;
  }

  .responsive-image {
    max-width: 500px;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    flex: 1 1 300px;
    object-fit: cover;
    border-radius: 0.5rem;

  }

</style>
<script></script>

